* {
    background-color: #262626;
    color: #C3B8A3;
    font-family: "Courier New", monospace;
    font-size: 15px;
}

    .centering {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid white; */
    }

        .head-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            /* border: 2px solid white; */
        }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                /* border: 2px solid white; */
            }

                #name {
                    font-size: 40px;
                    /* border: 2px solid white; */
                    margin-top: 15px;
                    margin-bottom: 0px;
                }

                #subtitle {
                    font-size: 20px;
                    /* border: 2px solid white; */
                    margin-top: 0px;
                    margin-bottom: 20px;
                }

                .contact-button-container {
                    display: flex;
                    justify-content: center;
                    /* border: 2px solid white; */
                }

                    .contact-button {
                        padding: 0em .5em;
                        margin: 10px 0px;
                        margin-top: 5px;
                    }

            .blog-button-container {
                display: flex;
                justify-content: center;
                width: 650px;
                align-self: center;
                /* border: 2px solid white; */
            }

                .blog-button {
                    box-sizing: border-box;
                    margin: 50px 20px;
                    padding: 30px 10px;
                    text-align: center;
                    border: 1px solid #C3B8A3;
                    border-radius: 5px;
                    text-decoration: none;
                    flex: 1;
                }

                .blog-button:hover {
                    background-color: #363636;
                }



        .text-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* border: 2px solid white; */
            width: 650px;
            margin: 40px auto 40px auto;
        }

                .body-header {
                    font-size: 25px;
                    margin-bottom: 40px;
                }

                .text-body p {
                    margin-bottom: 30px;
                    line-height: 1.5;
                }
        
        .footer {
            width: 150px;
            margin: 0px auto 80px auto;
        }