* {
    background-color: #F1EEE9;
    color: #614A42;
    font-family: "Georgia", serif;
    font-size: 15px;
}

@font-face {
  font-family: 'Grimoire Noire';
  src: url('fonts/GrimoireNoire.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

    .centering {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid white; */
    }

        .head-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;
            /* border: 2px solid white; */
        }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* border: 2px solid white; */
            }

                .body-header {
                    font-family: 'Grimoire Noire';
                    font-size: 120px;
                    margin-bottom: 40px;
                    text-align: center;
                }

        .text-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* border: 2px solid white; */
            width: 650px;
            margin: 40px auto 40px auto;
        }

                .text-body p {
                    margin-bottom: 30px;
                    line-height: 1.5;
                }
        
        .footer {
            width: 150px;
            margin: 0px auto 80px auto;
        }