<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blank template</title>
    <link rel="stylesheet" href="./../stylesheets/template-stylesheets/blank-page-template.css">
</head>

<body>

<!-- sticky strip, top -->
    <div class="top-strip">
        <div class="top-strip-content">
            <!-- hamburger menu -->
            <div class="top-strip-buttons">
                <input type="checkbox" id="menu-toggle" class="menu-checkbox">
                <label for="menu-toggle" class="hamburger-icon">
                    <img src="./../images/menus/hamburger-unfilled.png" width="45" height="45" alt="menu">
                </label>
                <nav class="nav-menu">
                    <div class="nav-container">
                        <a href="./../index.html">
                            <div class="navigation-link">
                                <p>
                                    Landing
                                </p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="navigation-link">
                                <p>
                                    House One
                                </p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="navigation-link">
                                <p>
                                    House Two
                                </p>
                            </div>
                        </a>
                        <a href="#" class="navigation-link">
                            House Three
                        </a>  
                        <div>
                            <img src="./../images/menus/divider-cream.png" width="100px" height="10px" alt="divider">
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top-strip-logo">
                <a href="./../index.html">
                    <p>
                        Causticsalsa
                    </p>
                </a>
                <a href="./../index.html">
                    <img src="./../images/menus/causticsalsa-logo-cream.png" width="45" height="45" alt="logo">
                </a>
            </div>
        </div>
    </div>

<!-- content -->
<div class="template-content">
    <div class="sigil">
        <img src="./../images/templates/sigil.png" width="300" height="300" alt="wolf sigil">
    </div>
    <div class="template-header">
        <p>
            HALT!
        </p>
    </div>
    <div class="template-subheader">
        <p>
            This page hasn't been created yet.
        </p>
    </div>
    <div class="template-body">
        <p>
        But don't worry, it will be soon. Sit tight, and Deities be with you.
        </p>
    </div>
    <div class="template-wolf">
        <img src="./../images/templates/red-wolf.png" width="47" height="37" alt="wolf-symbol">
    </div>
</div>

<!-- sticky strip, bottom -->
    <div class="bottom-strip">
        <div class="bottom-strip-text">
        <p>
            bottom strip
        </p>
        </div>
        <div class="bottom-strip-text">
        <p>
            bottom strip
        </p>
        </div>
        <div class="bottom-strip-text">
        <p>
            bottom strip
        </p>
        </div>
    </div>
    
</body>

</html>