html, body {
  overscroll-behavior-y: none;
}

@font-face {
  font-family: 'Grimoire Noire';
  src: url('../fonts/GrimoireNoire.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canterbury';
  src: url('../fonts/Canterbury.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Landsknecht';
  src: url('../fonts/Landsknecht.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Highborne Blackletter';
  src: url('../fonts/HighborneBlackletter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F1EEE9;
    margin: 0px 0px 0px 0px;
    color: #614A42;
}

a {
  text-decoration: none;
  color: #F1EEE9;
}

/* sticky strip, top */
.top-strip {
        position: sticky;
        top: 0px;
        margin: 0px;
        width: 100%;
        height: 80px;
        border-radius: 0px 0px 40px 40px;
        background-color: #6C6A4A;
        z-index: 100;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
        .top-strip-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0px 30px auto 30px;
            justify-content: space-between;
            font-family: 'Canterbury', serif;
            font-size: 20px;
        }

            .top-strip-buttons {
                color: #614A42;
                position: relative;
            }

            .top-strip-logo {
                font-family: 'Canterbury', serif;
                font-size: 40px;
                justify-content: space-between;
                display: flex;
                align-items: center;
                width: 240px;
                margin-top: 10px;
            }

            
/* hamburger menu */
.menu-checkbox {
    position: absolute;
    opacity: 0;
}

    .nav-menu {
        display: none;
        flex-direction: column;
    }

    .menu-checkbox:checked ~ .nav-menu {
        display: flex;
    }

    .hamburger-icon {
        z-index: 105;
        position: absolute;
        margin: -25px 20px 0px 0px;
        cursor: pointer;
    }
        

    .nav-container {
        display: flex;
        flex-direction: column;
        background-color: #614A42;
        border-radius: 20px;
        width: 185px;
        margin: 30px 15px auto 10px;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
        .navigation-link {
            background-color: #F1EEE9;
            width: 150px;
            margin: 10px 5px 5px 5px;
            color: #614A42;
            text-align: center;
            padding: 10px;
            border-radius: 10px;
        }

/* content */

.template-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px;
}

    .sigil {
        margin-bottom: -15px;
    }

    .template-header {
        margin: 20px;
        font-family: 'Landsknecht', serif;
        font-size: 150px;
    }

    .template-subheader {
        margin-top: 20px;
        font-family: 'Highborne Blackletter', serif;
        font-size: 35px;
    }

    .template-body {
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: 'Highborne Blackletter', serif;
        font-size: 20px;
    }

    .template-wolf {
        margin-bottom: 100px;
    }

/* sticky strip, bottom */
    .bottom-strip {
        bottom: 0px;
        margin: 0px;
        width: 100%;
        height: 200px;
        background-color: black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .bottom-strip-text {
            width: 300px;
            text-align: center;
            color: #F1EEE9;
        }